* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: url(./imagens/fundo.jpg);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 2rem;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px 0px 10px 10px ;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4e73df;
  outline: none;
  box-shadow: 0 0 5px rgba(78, 115, 223, 0.4);
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #4e73df;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #2e59d9;
}

.register {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.register a {
  color: #4e73df;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

.options {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
}

.remember input {
  cursor: pointer;
}

.forgot {
  text-decoration: none;
  color: #4e73df;
  transition: 0.3s;
}

.forgot:hover {
  text-decoration: underline;
}
